@model FinancialPortal.Models.BankAccounts

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name) Account</h2>



<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>




<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Transactions</h6>
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-primary" href="@Url.Action("Create","Transactions")">Create New</a> 
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayName("BudgetItem.Name")
                        </th>
                        <th>
                            @Html.DisplayName("Owner.FirstName")
                        </th>
                        <th>
                            @Html.DisplayName("Created")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Memo")
                        </th>
                        <th>
                            @Html.DisplayName("Owner")
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var Transation in Model.Transactions.OrderByDescending(c => c.Created))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => Transation.BudgetItem.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Owner.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Memo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.BankAccount.OwnerId)
                        </td>
                        <td>
                          <a href="@Url.Action("Edit", "Transactions", new { id = Transation.Id })">Edit</a>  |
                          <a href="@Url.Action("Delete", "Transactions", new { id = Transation.Id })">Delete</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<!-- Create Modal-->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Transaction</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                

                @using (Html.BeginForm("Create", "Transactions", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("BankAccountId", Model.Id)
                    

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Memo", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Memo", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessage("Memo")
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control" } })
                                
                            </div>
                        </div>

                        

                        <div class="form-group">
                            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Editor("Created", new { htmlAttributes = new {  @type = "date", @class = "form-control" } })
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
