@model FinancialPortal.Models.BankAccounts

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name) Account</h2>



<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>




<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold">Transactions</h6>
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-primary" href="@Url.Action("Create", "Transactions")">Create New</a>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayName("BudgetItem.Name")
                        </th>
                        <th>
                            @Html.DisplayName("Owner.FirstName")
                        </th>
                        <th>
                            @Html.DisplayName("Created")
                        </th>
                        <th>
                            @Html.DisplayName("Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Memo")
                        </th>
                        <th>
                            @Html.DisplayName("Owner")
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var Transation in Model.Transactions.OrderByDescending(c => c.Created))
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => Transation.BudgetItem.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Owner.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.Memo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Transation.BankAccount.OwnerId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = Transation.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = Transation.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Transation.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>