@model FinancialPortal.Models.Households

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>

        </tr>

        @foreach (var item in Model.ApplicationUsers)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.Email)
                </td>

            </tr>
        }

    </table>
</div>
<div>Invite another user to join your household. </div>
<div><a href="@Url.Action("Create", "Invitations")">Invite</a></div>

<div>Leave Household</div>
<div><a href="#">Leave</a></div>
