@model FinancialPortal.Models.Households

@{
    ViewBag.Title = "Details";
}

<h2>Household</h2>

<div class="col-lg-6 col-sm-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">Members</h6>
        </div>
        <div class="card-body">
            
            <table class="table table-bordered" width="100%" cellspacing="0">
                <tr>

                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>

                </tr>

                @foreach (var item in Model.ApplicationUsers)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Email)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>



<div>Invite another user to join your household. </div>
<div><a href="@Url.Action("Create", "Invitations")">Invite</a></div>

<div>Leave Household</div>
<div><a href="#">Leave</a></div>
