@model FinancialPortal.Models.Budgets

@{
    ViewBag.Title = "Details";
}

<h2>Budget</h2>

<hr />

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <h4>Income</h4>
            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Category")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Frequency")
                    </th>


                </tr>

                @foreach (var item in Model.BudgetItems)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.BudgetItemCatagory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Frequency)
                        </td>


                    </tr>
                }

            </table>
        </div>
        <div class="row">
            <h4>Expenses</h4>
            <table class="table">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Category")
                    </th>
                    <th>
                        @Html.DisplayName("Amount")
                    </th>
                    <th>
                        @Html.DisplayName("Frequency")
                    </th>


                </tr>

                @foreach (var item in Model.BudgetItems)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.BudgetItemCatagory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Frequency)
                        </td>


                    </tr>
                }

            </table>
        </div>
        
    </div>

    <div class="col-sm-6">
        

    </div>
</div>
